body{
    background:black;
    background-image: url('funfacts.jpg');
    background-size: 100%;
    
    background-position: 0 -270px;
    background-repeat: no-repeat;
    font-family: georgia;
    font-size: 30px;
    color:white;
    
}


#headerLinks ul{
    float:right;
    list-style: none;
    overflow:hidden;
    width:30%;
    margin-top: 0px;
   
}

#headerLinks li {
    display: inline;
    margin-right:20px;
}
header{
    float:left;
    margin-left: 10px;
    text-shadow: 3px 3px #1E90FF;
    
}
 a{
    text-decoration: none;
    color:white;
}

a:hover{
   font-size:35px;
    text-shadow: 2px 2px  #1E90FF;
}


#sidebar{
    padding-top: 200px;
    padding-left: 60px;
}
#sidebar p{
   
    color:	#1E90FF;
    width: 360px; 
    position: fixed; 
    z-index: 1; 
    top:350;
    padding-left:15px;
    background: rgb(20,20,20,0.85);
    border-radius:20px;
    overflow-x: hidden; 
    
    

}

footer{
    background-color:black;
    position:fixed;
    bottom:0;
    width:100%;
    font-size:16px;
    
}
#format ul{
    color:white;
    list-style:none;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    text-align:center;
}
#format li{
    margin-top: 20px;
}

.slideshow-container {
  
  position: absolute;
  color: black;
  background:rgb(255,255,255,0.7);
}

/* Slides */
.mySlides {
  
  display: none;
  padding: 80px;
  text-align: left;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}